

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body{
    font-family: 'Calibri';
}
.personal:focus{
     outline: 1px solid white;

}
.field_block{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}
.about_us{
    margin-top: 30px;
    margin-bottom: 20px;
}
.select{
    border: 0.5px solid rgb(62, 122, 235);
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.form_footer{
    margin-top: 5px;
    position: absolute;
    width: 100%;
    bottom: 5px;
}
hr{
    border: 0.5px solid lightgrey;
}
.buttons_block{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.back_button{
    color: lightgrey;
    margin-left: 10px;
}
.button_final{
    border: 1px solid rgb(76,142,226);
    margin-top: 40px;
}
.form{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: flex-start,
}
.personal{
    width: 100%;
    margin-left: 0;
    height: 50px;
    text-align: center;
    border: transparent;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.input_focus{
    border: transparent;
    border-bottom: 1px solid lightgrey;
}
.input_border{
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}
.button_focus .button_final{
    border: 1px solid rgb(76,142,226);
    margin-top: 40px;
}
.button_focus{
    color: rgb(76,142,226);
    text-decoration: none;
    padding: 12px 10px;
    font-size: 16px;
    border: transparent;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
    margin-right: 10px;
}
.gender_select{
    background-color: rgb(62, 122, 235);
    color: white;
}
.button_focus_back{
    color: rgb(76,142,226);
    text-decoration: none;
    padding: 12px 10px;
    font-size: 16px;
    border: transparent;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
    color:lightgrey;
    margin-left:10px;
}
.button_block{
    text-align: right;
    position: absolute;
    bottom: 10;
    right: 0;
    width: 100%;
}
.button_focus:focus{
    outline: 1px solid lightblue;
    background-color: lightcyan;
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

label.padding{
    padding:30px;
}
