

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body{
    font-family: 'Calibri';
}
.h2{
    text-align: center;
    color: rgb(76,142,226);
}
.app{
    text-align: center;
    margin: auto;
    width: 425px;
    height: 575px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.final_block{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25%;
    padding-top: 25%;
}
.button_block{
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 100%;
}
.padding_left{
    padding-left: 10px;
}
.field{
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.red{
    color: red;
}
.form{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: flex-start,
}
.input_focus:focus{
     outline: 1px solid white;

}
.input_focus{
    border: transparent;
    border-bottom: 1px solid lightgrey;
    margin-top: 25px;
}

.button_focus{
    color: rgb(76,142,226);
    text-decoration: none;
    padding: 12px 10px;
    font-size: 16px;
    border: transparent;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
}
.button_focus.button_focus_mg{
    margin-right: 10px;
}
.button_focus:focus{
    outline: 1px solid lightblue;
    background-color: lightcyan;
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
input{
    width: 95%;
    margin-left: 2%;
}

